*{
    box-sizing: border-box;
}

:root{
    --mainColor: #002540;
    --secondaryColor: #8BCFFF;
    --light: #CCEAFF;
    --headerColor: #0080dbc9;
    --overlay: #003962;
    --borderRadius: 10px;
}

img, video{
    max-width: 100%;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--mainColor);
    background-attachment: fixed;
    color: #fff;
    scroll-behavior: smooth;
    transition: all .2s ease-in-out;
}

#app{
    transform: perspective(1000px);
    transition: all .2s ease-in-out;
}

.main-header{
    position: fixed;
    width: 100%;
    color: #fff;
    align-items: center;
    padding: 73px 0px 73px 117px;
    z-index: 10000;
    transition: all .2s ease-in-out;
}

.logo {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    filter: invert(1);
}

.logo img{
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(100px, 33%), 1fr));
    gap: 5px;
}

.content{
    width: 1400px;
    margin: auto;
}

.heading{
    font-size: 2em;
    position: relative;
}

.showMore{
    color: #fff;
    padding: 15px;
    text-align: center;
    display: inline-block;
    margin: auto;
}

.ppad{
    padding: 150px 0;
}

.content{
    padding: 73px;
}

.profilePicture{
    object-fit: cover;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin: auto;
}

@media screen and (min-width: 340px) and (max-width: 900px){
    .main-header{
        padding: 0;
    }
    .grid{
        grid-template-columns: 1fr;
    }
}