*{
    box-sizing: border-box;
}

:root{
    --mainColor: #002540;
    --secondaryColor: #8BCFFF;
    --light: #CCEAFF;
    --headerColor: #0080dbc9;
    --overlay: #003962;
    --borderRadius: 10px;
}

img{
    max-width: 100%;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--mainColor);
    background-attachment: fixed;
    color: #fff;
}

.main-header{
    position: absolute;
    width: 100%;
    color: #fff;
    align-items: center;
    padding: 73px 10px 73px 117px;
    z-index: 10000;
    transition: all .2s ease-in-out;
}

.logo {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.content{
    width: 1400px;
    margin: auto;
}

.heading{
    font-size: 2em;
    position: relative;
}