.photo-bg{
    background-image: url("https://scontent-cph2-1.xx.fbcdn.net/v/t39.30808-6/416017509_3027758847356371_2531154983406623243_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=a73e89&_nc_ohc=qxLIPFWT1bYAX88L8w4&_nc_ht=scontent-cph2-1.xx&oh=00_AfCEbWMyX_l1wWlbDA3ZiGMPdIBaoRkRrBork0WsIY2QEw&oe=659AE74D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;
    background-color: var(--mainColor);
    height: 100vh;
    width: 100%;
}