.navigation{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 2/3;
    background-color: var(--mainColor);
    border-radius: 15px 0px 0px 15px;
}

.navigation__link{
    text-decoration: none;
    color: #fff;
    padding: 0px 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github--icon{
    filter: invert(1);
    margin-right: -30px;
}

.locationPicker{
    font-size: 16px;
    padding: 15px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.header-grid{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}