.belowthfold{
    color: #fff;
    text-decoration: none;
}

.belowthfold a{
    text-decoration: none;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    gap: 50px;
}

.project{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    display: block;
    color: #000;
    width: max-content;
    margin: 15px 0px;
}

.landingPage__content{
    padding: 15px;
    margin-top: 100px;
}

.content-ppad{
    padding: 10px 50px;
    width: 1050px;
    margin: auto;
}

.scroll-snap{
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;

}

.code-editor{
    background-color: #3e3e3e;
    border-radius: 10px;
    padding: 15px;
    display: block;
    color: #d0d0d0;
    margin: 30px 0px;
    overflow-y: hidden;
}

@media screen and (min-width: 340px) and (max-width: 900px){
    .content{
        width: 100%;
        padding: 15px;
    }
    
    .content-ppad{
        width: 100%;
        padding: 10px 15px;
    }
}