
.landingPage {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.landingPage__ImageContainer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 100vh;
}

.landingPage__content {
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.landingPage__left {
    grid-column: 1/2;
}

.landingPage__left.show {
    bottom: 0;
}

.landingPage__imageOne, .landingPage__imageTwo {
    width: 50%;
    position: absolute;
    top: 0;
    height: 100vh;
    object-fit: cover;
    transition: all .5s ease-in-out;
}

.landingPage__imageOne {
    left: 0;
    width: 50%;
    z-index: -1;
    opacity: .38;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.landingPage__imageTwo {
    width: 60%;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: .38;
    object-position: bottom;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 16.6% 100%);
}

.landingPage__right .landingPage__style {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    background: /* url("https://cdn.shopify.com/s/files/1/0314/1143/7703/files/hp-hero-6-d-large-tinted-moisturizer-1210x1566_1210x.jpg") */ var(--overlay);
    background-size: 86%;
    background-position: 191px -415px;
    background-blend-mode: multiply;
    opacity: .7;
    z-index: -1;
    background-repeat: no-repeat;
    clip-path: polygon(48% 0, 100% 0, 100% 100%, 0% 100%);
}

.landingPage__heading{
    font-size: 100px;
    max-width: 508px;
    margin: 20px 0px;
    position: relative;
    font-weight: 100;
    text-transform: uppercase;
}

.cta{
    color: var(--overlay);
    text-decoration: none;
    padding: 20px 32px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.hero-intro__content{
    width: 1400px;
    margin: auto;
}

.frontpage-projects{
    cursor: pointer;
    padding: 25px 0;
    text-align: center;
    transition: all .5s ease-out;
}

.frontpage-projects img{
    transition: all .5s ease-out;
}

.frontpage-projects:hover img{
    transform: rotate(10deg);
}

.photography{
    background-color: #fff;
    color: #000;
    padding: 100px 0;
}

.recommendations__item{
    padding: 25px;
}

.projects{
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .landingPage{
        grid-template-columns: 1fr;
        overflow: hidden;
        scroll-behavior: smooth;
        height: auto;
    }

    .landingPage__heading{
        font-size: 50px;
        max-width: 100%;
        margin: 20px 0px;
        position: relative;
        font-weight: 100;
        text-transform: uppercase;
    }

    .main-header{
        padding: 73px;
    }

    .landingPage__content{
        padding: 15px;
    }
    .hero-intro__content{
        width: 100%;
        display: block;
    }
}