
.landingPage {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.landingPage__ImageContainer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 100vh;
}

.landingPage__content {
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.landingPage__left {
    grid-column: 1/2;
}

.landingPage__left.show {
    bottom: 0;
}

.landingPage__imageOne, .landingPage__imageTwo {
    width: 50%;
    position: absolute;
    top: 0;
    height: 100vh;
    object-fit: cover;
    transition: all .5s ease-in-out;
}

.landingPage__imageOne {
    left: 0;
    width: 50%;
    z-index: -1;
    opacity: .38;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.landingPage__imageTwo {
    width: 60%;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: .38;
    object-position: bottom;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 16.6% 100%);
}

.landingPage__right .landingPage__style {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    background: var(--overlay);
    opacity: .7;
    z-index: -1;
    clip-path: polygon(48% 0, 100% 0, 100% 100%, 0% 100%);
}

.landingPage__heading{
    font-size: 100px;
    max-width: 508px;
    margin: 20px 0px;
    position: relative;
    font-weight: 100;
    text-transform: uppercase;
}